<!DOCTYPE html>
<html lang="en">

<html>

<body>


  <h1>hello price </h1>
  <% products.map((products)=>{%>
    <h4>
      <a href="/index-products/<%=products.id%>""></a><%=products.productTitle%></a>
    </h4>

    <p>
      <%=products.productDescription%>
    </p>

    <p>
      <%=products.productPrice%>
    </p>
    <%})%>



</body>

</html>