<!DOCTYPE html>
<html lang="en">

<html>

<body>


  <h1>Products Detail</h1>
  
    <h4>
      <a href="/products/<%=product.id%>""><%=product.productTitle%></a>
    </h4>

    <p>
      <%=product.productDescription%>
    </p>

    <p>
      <p>ราคา : <%=product.productPrice%> บาท</p>
    </p>




</body>

</html>